<div class="card-panel blue-grey darken-1" draggable="true"
    ondragstart="drag(event)" id="<%= dom_id(task) %>"
    ondrop="" ondragover="" style="padding:5px">
  <div class="card-content white-text">
    <%= task.content %>
  </div>
  <div class="card-action">
    <%= link_to "<i class='fa fa-edit white-text' aria-hidden='true'></i>".html_safe,
            edit_task_path(task) %>
    <%= link_to "<i class='fa fa-trash-o white-text' aria-hidden='true'></i>".html_safe,
            task_path(task), method: :delete,
            data: { confirm: 'Are you sure?' }, class: "right" %>
  </div>
</div>
