<div class="container">
  <div class="row">
    <!--<h1>Tasks</h1>-->
    <%= link_to "<i class='fa fa-plus' aria-hidden='true'></i>".html_safe,
            new_task_path, class: "btn-floating btn-large blue" %>

  </div>
  <div class="row">
    <% [["Open",@open],["WIP",@wip],["Closed",@closed]].each do |title,list| %>
      <div class="col l4 s12 grey" style="min-height: 80vh; border:1px solid white">
        <h5><%= title %></h5>
        <%= render list %>
      </div>
    <% end %>
  </div>
</div>
