<div class="container">
  <div class="row">
    <h1>Tasks</h1>
    <%= link_to "<i class='fa fa-plus' aria-hidden='true'></i>".html_safe,
            new_task_path, class: "btn-floating btn-large blue" %>

  </div>
  <div class="row">
    <% [["Open",@open],["WIP",@wip],["Closed",@closed]].each do |title,list| %>
      <div class="col l4 s12 grey">
        <h3><%= title %></h3>
        <%= render list %>
      </div>
    <% end %>
  </div>
</div>
