/*
 * These need to be at the top!
 *= require jquery-ui
 */

@import "materialize";
@import "font-awesome";

/* Make container divs a bit less greedy */
.container {
  padding: 0 $gutter-width;
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}
@media #{$medium-and-up} {
  .container {
    width: 90%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 85%;
  }
}
