<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">
      <li><a href="/tasks">Kanban Board</a></li>
      <li><a href="/tasks/eisenhower">
		<%= if tasks_eisen_pending_count()>0 then "*" else "" end %>
		Eisenhower</a></li>
    </ul>
  </div>
</nav>
