<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">
      <li><a href="/tasks">Kanban Board</a></li>
      <li><a href="/tasks/eisenhower">
		<%= if tasks_eisen_pending_count()>0 then "*" else "" end %>
		Eisenhower</a></li>
    </ul>
    <ul id="nav-mobile" class="right">
      <li>
        <%= link_to "Add task".html_safe,
            new_task_path, class: "btn" %>
      </li>
    </ul>
  </div>
</nav>
